.appointmentListItem {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-template-rows: 30px;
    user-select: none;

    &:hover {
        background-color: var(--primary-container);
    }
    
    &:hover p {
        color: var(--on-primary-container);
    }

    .infoContainer {
        overflow: scroll;

        &:first-of-type {
            padding-left: var(--medium-gap);
        }
        
        &:last-of-type {
            padding-right: var(--medium-gap);
        }
    }


}

.noAppointmentsFoundLine {
    display: none;
}