header.header {
    height: var(--header-height);
    padding: var(--big-gap) var(--side-padding-for-sections);
    background-color: var(--surface);
    display: flex;
    align-items: center;
    border-bottom: var(--border);

    .menuContainer {
        display: flex;
        gap: var(--big-gap);

        .menuItem {
            list-style: none;
            
            .menuLink {
                text-decoration: none;
                color: var(--on-background);
            }
        }
    }
}