/* @font-face {
    font-family: 'PlayfairDisplaySC';
    src: 
        local('PlayfairDisplaySC'),
        url('../fonts/PlayfairDisplaySC-Regular.ttf') format('truetype');
} */
    
@font-face {
    font-family: 'Jost';
    src: 
        local('Jost'),
        url('../fonts/Jost-Regular.ttf') format('truetype');
}

:root {
    --header-height: 10vh;
    --big-gap: 32px;
    --medium-gap: 16px;
    --small-gap: 8px;
    --max-content-width: 1200px;
    --side-padding-for-sections: max(7vw, calc((100vw - var(--max-content-width)) / 2));

    --primary: #95416d;
    --on-primary: #ffffff;
    --primary-container: #facae0;
    --on-primary-container: #3d0026;
    --background: #ebebeb;
    --on-background: #1f1a1c;
    --surface: #ffffff;
    --on-surface: #1f1a1c;
    --outline: #827378;
    --surface-variant: #f1dee3;
    --on-surface-variant: #504348;
    --inactive: lightgrey;
    --on-inactive: black;

    --border: 1px solid var(--outline);
    --border-radius: 4px;

    --font-family-1: 'Jost';
    --font-family-2: 'Jost';

    --transition: all .5s ease-in-out;
    --transition-slow: all 1.5s ease-in-out;

    --shadow: 5px 5px 5px 5px black;
}